img.icon {
  height: 70px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.namecard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 0px 0px;
  gap: 5px;
}

.namecard img {
  border-radius: 8px;
}

.namecard_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Section CSS*/

/* hero-section */
.page_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/hero03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27488e;
  width: 100%;
  height: 100vh;
}

.page_about {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/about_page02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27488e;
  width: 100%;
  height: 100vh;
}

.page_solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/solutions_page02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27488e;
  width: 100%;
  height: 100vh;
}

.page_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/contact_page04.png");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #27488e;
  width: 100%;
  height: 100vh;
}

.page_login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../pic_icon/hero03.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #27488e;
  width: 100%;
  height: 100vh;
}

.banner {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner h1 {
  color: white;
  font-size: 2.35rem;
  padding: 0px 50px;
}

/* container full width */
.sec01 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* container full width blue */
.sec02 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B3364;
}

/* container 90% width
phone up - down
tablet left - right */
.sec_inner01 {
  padding: 70px 0px;
  max-width: 1440px;
  width: 90%;
  display: block;
}

/* container 90% width left - right
depends on the width of the content whether can fill */
.sec_inner02 {
  padding: 70px 0px;
  max-width: 1440px;
  width: 90%;
}

.box01_pic {
  width: 100%;
}

.box01_pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  display: block;
  border-radius: 8px;
}

.box01_wrdleft {
  width: 100%;
  padding: 0px 0px 20px 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.box01_wrdright {
  width: 100%;
  padding: 20px 0px 0px 0px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

/* 1box - 2boxes - 3boxes */
.box02 {
  display: block;
  width: 100%;
}

.box02a {
  padding: 20px 0px 0px 0px;
}

footer {
  background-color: #1B3364;
}

.footsec01 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footinner01 {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  padding: 30px 0px 10px 0px;
  max-width: 1440px;
  width: 90%;
  border-bottom: 1px solid #97a3be;
}

.footinner02 {
  padding: 10px 0px 20px 0px;
  max-width: 1440px;
  width: 90%;
}

.footinner01 img {
  display: none;
}

/* Tablet View */
@media only screen and (min-width: 768px) {

  .box02 {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 10%;
  }

  .box02a {
    width: 40%;
    margin: 20px 0px;
  }

    .footinner01 img {
    display: inline;
  }
}

/* Desktop View */
@media only screen and (min-width: 1024px) {

  .page_hero {
    background-image: url("../pic_icon/hero02.png");
  }

  .page_login {
    background-image: url("../pic_icon/hero02.png");
  }

  .sec_inner02,
  .footinner01,
  .footinner02 {
    width: 80%;
  }

  .sec_inner01 {
    width: 80%;
    display: flex;
    align-items: stretch;
  }

  .box01_wrdleft {
    padding: 0px 20px 0px 0px;
  }

  .box01_wrdright {
    padding: 0px 0px 0px 20px;
  }

  .box02 {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
    gap: 5%;
  }

  .box02a {
    width: 30%;
    margin: 20px 0px;
  }

}

/* Desktop View (Big) */
@media only screen and (min-width: 1580px) {

    .page_contact {
    background-image: url("../pic_icon/contact_page03.png");
  }


}
