/* blutton white (light blue) & words blue */
.button01_white {
  background-color: white;
  color: #27488e;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
}

.button01_white:hover {
  background-color: #74B0FF;
}

/* blutton blue (black) & words white */
.button01_blue {
  background-color: #27488e;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 30px;
}

.button01_blue:hover {
  background-color: black;
}

/* words white (light blue) --> */
.button02_white {
  color: white;
  font-weight: bold;
  padding: 10px 15px;
}

.button02_white:hover {
  color: #74B0FF;
}

/* words blue (black) --> */
.button02_blue {
  color: #27488e;
  font-weight: bold;
  padding: 10px 15px;
}

.button02_blue:hover {
  color: black;
}

/* form --> */
.contact_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 600px;
}

.contact_form input,
.contact_form textarea,
.contact_form select {
  padding: 14px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 16px;
}

.form_other_nature {
  display: none;
}

.form_other_nature.active {
  display: block;
}

.contact_form textarea {
  resize: vertical;
}

/* Tablet View */
@media only screen and (min-width: 768px) {



}

/* Desktop View */
@media only screen and (min-width: 1024px) {



}

/* Desktop View (Big) */
@media only screen and (min-width: 1580px) {



}
